<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="auto_robot">

  <xacro:arg name="controller_config" default="$(find auto_robot)/config/robot_controller.yaml"/>

  <xacro:include filename="$(find auto_robot)/urdf/robot_core.xacro" />
  <xacro:include filename="$(find auto_robot)/urdf/sensors.xacro" />
  <xacro:include filename="$(find auto_robot)/urdf/gazebo_classic.xacro" />

  <xacro:robot_core />

  <link name="robot_footprint" />
  <joint name="dummy_joint" type="fixed">
      <parent link="robot_footprint"/>
      <child link="base_link"/>
      <origin xyz="0 0 0.0515" rpy="0 0 0"/>
  </joint>

  <xacro:sensors />
  <xacro:gazebo_classic controller_config="$(arg controller_config)" />

</robot>
